PORT=9000
NUXT_PUBLIC_API_BASE=http://localhost:9000

SITE_URL=http://localhost:9001

MONGODB_ADDR=
MONGO_USERNAME=
MONGO_PWD=
MONGO_DBNAME=CMS

NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_CALLBACK_URL=http://localhost:9001/auth/naver/callback
KAKAO_CLIENT_ID=
KAKAO_CLIENT_SECRET=
KAKAO_CALLBACK_URL=http://localhost:9001/auth/kakao/callback

JWT_SECRET=
SESSION_SECRET=
NUXT_SESSION_PASSWORD=

UPLOAD_DIR=uploads
DEFAULT_SITE_ID=default
